/* 

Table of Contents:
  1.0 Setup
  2.0 Global Styling
    2.1 Elements
    2.2 Layout
  3.0 Homepage-specific Styles

*/

/* 1.0 Setup */

:focus {
  border-style: dashed;
  border-width: 0.2rem;
  border-color: var(--accent-item-color);
  border-radius: 0.75vmax;
  outline: none;
}

:root {
  --primary-background-color: hsl(205, 50%, 70%); /* Dark */
  --content-background-color: hsl(205, 35%, 85%); /* Brighter */
  --highlight-background-color: hsl(205, 85%, 35%); /* Brighter */
  --text-color: hsl(205, 35%, 15%); /* Dark */
  --text-color-secondary: hsl(205, 85%, 20%); /* Dimmed */
  --accent-item-color: hsl(205, 90%, 40%); /* Accent */
}

@media(prefers-color-scheme: dark) {
  :root {
    --primary-background-color: hsl(205, 50%, 10%);
    --content-background-color: hsl(205, 75%, 20%);
    --highlight-background-color: hsl(205, 80%, 30%);
    --text-color: hsl(205, 20%, 85%); 
    --text-color-secondary: hsl(200, 90%, 80%); 
    --accent-item-color: hsl(180, 100%, 40%); 
  }
}


html {
  scroll-behavior: smooth;
}

/* 2.0 Global Styling */

/* 2.1 Main Elements */

body {
  background-color: var(--primary-background-color);
  margin: 0;
}

a, button, h1, h2, h3, h4, p {
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, p {
  color: var(--text-color);
}

a, button {
  color: var(--text-color-secondary);
}

a:hover, a:focus {
  color: var(--accent-item-color);
}

button:hover, button:focus {
  outline-style: dashed;
  outline-width: 0.2rem;
  outline-color: var(--accent-item-color);
  color: var(--accent-item-color);
  border: none; /* To override the default :focus border */
}

button {
  background-color: var(--primary-background-color);
  border: none;
  border-radius: 0.5em;
  padding: 0.75em;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

h1 {
  font-size: 4rem;
  margin: 0;
  padding-top: 0.25em;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

img {
  max-width: 100%;
  border-radius: 1rem;
}

/* 2.2 Layout */

.screenreader-text {
  /* 
    Basically, hide it off-screen. Actually making it invisible would either:
      - Leave a blank line
      - Make it invisible to the screen reader as well
    There's probably a better way to do this.
  */
  
  position: absolute;
  top: auto;
  left: -100%;
  height: 1px;
  width: 1px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  text-align: center;
}

nav {
  background-color: var(--content-background-color);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 1.5rem 0;
  padding: 1rem 0;
}

.logo {
  max-width: 80%;
}

nav h4 {
  margin: 0.5em 0;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

nav ul a {
  text-decoration: none;
  margin-top: 1em;
}

.post {
  background-color: var(--content-background-color);
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

main, footer {
  width: 80%;
  margin-left: 20%;
}

footer {
  text-align: center;
  height: 10%;
}

footer p {
  position: relative;
  top: 50%;
}

/* @media(min-width: 667px) {
  .sidebar {

  }
  
  nav {

  }
} */

/* 3.0 Homepage Styles */

#projects-preview article {
  background-color: var(--highlight-background-color);
  border-radius: 1rem;
  margin: 1em 0;
  padding: 1em;
}

.project-image {
  margin: 1em 0;
}

.techlogo {
  display: inline-block;
  height: 5em;
}