/* 

Table of Contents:
  1.0 Setup
  2.0 Global Styling
    2.1 Elements
    2.2 Layout
  3.0 Page-Specific Styles
    3.1 Homepage
    3.2 About Page

*/

/* 1.0 Setup */

:focus {
  border-style: dashed;
  border-width: 0.2rem;
  border-color: var(--accent-item-color);
  border-radius: 0.5em;
  outline: none;
}

:root {
  --primary-background-color: hsl(205, 60%, 65%);
  --content-background-color: hsl(205, 55%, 85%);
  --highlight-background-color: hsl(205, 80%, 75%);
  --text-color: hsl(205, 35%, 15%);
  --text-color-secondary: hsl(205, 100%, 25%);
  --accent-item-color: hsl(205, 100%, 40%);

  /* SVG Filters */
  --svg-invert: 20%;
  --svg-sepia: 88%;
  --svg-saturate: 1419%;
  --svg-hue-rotate: 183deg;
  --svg-brightness: 90%;
  --svg-contrast: 103%;

  --svg-hover-invert: 36%;
  --svg-hover-sepia: 88%;
  --svg-hover-saturate: 3205%;
  --svg-hover-hue-rotate: 186deg;
  --svg-hover-brightness: 87%;
  --svg-hover-contrast: 102%;
}

@media(prefers-color-scheme: dark) {
  :root {
    --primary-background-color: hsl(205, 50%, 10%);
    --content-background-color: hsl(205, 75%, 20%);
    --highlight-background-color: hsl(205, 80%, 30%);
    --text-color: hsl(205, 20%, 85%); 
    --text-color-secondary: hsl(200, 90%, 80%); 
    --accent-item-color: hsl(180, 100%, 40%);

    /* SVG Filters */
    --svg-invert: 79%;
    --svg-sepia: 41%;
    --svg-saturate: 439%;
    --svg-hue-rotate: 170deg;
    --svg-brightness: 99%;
    --svg-contrast: 99%;

    --svg-hover-invert: 80%;
    --svg-hover-sepia: 38%;
    --svg-hover-saturate: 7414%;
    --svg-hover-hue-rotate: 135deg;
    --svg-hover-brightness: 97%;
    --svg-hover-contrast: 101%;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1.5rem;
}

/* 2.0 Global Styling */

/* 2.1 Main Elements */

body {
  background-color: var(--primary-background-color);
  margin: 0;
}

a, h1, h2, h3, h4, p {
  font-family: 'Nunito', sans-serif;
}

a {
  color: var(--text-color-secondary);
}

a:hover, a:focus {
  color: var(--accent-item-color);
  border: none; /* To override the default :focus border */
  border-radius: 0.5em;
  outline-style: dashed;
  outline-width: 0.2rem;
  outline-color: var(--accent-item-color);
}

.btn {
  background-color: var(--highlight-background-color);
  box-sizing: border-box;
  display: inline-block;
  border: none;
  border-radius: 0.5em;
  padding: 0.75em;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

h1, h2, h3, h4, p {
  color: var(--text-color);
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

/* 2.2 Layout */

.screenreader-text {
  /* 
    Basically, hide it off-screen. Actually making it invisible would either:
      - Leave a blank line
      - Make it invisible to the screen reader as well
    There's probably a better way to do this.
  */
  
  position: absolute;
  top: auto;
  left: -100%;
  height: 1px;
  width: 1px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  text-align: center;
}

nav {
  background-color: var(--content-background-color);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 1.5rem 0;
  padding: 1rem 0;
}

.logo {
  max-width: 80%;
}

nav h4 {
  margin: 0.5em 0;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

nav ul a {
  text-decoration: none;
  margin-top: 1em;
}

.post {
  background-color: var(--content-background-color);
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

main, footer {
  width: 80%;
  margin-left: 20%;
}

footer {
  text-align: center;
  height: 10%;
}

footer p {
  position: relative;
  top: 50%;
  font-size: 1.2rem;
}

.footer-image {
  max-height: 30px;
  vertical-align: middle;


  /* See this article: https://css-tricks.com/change-color-of-svg-on-hover/ */
  filter: invert(var(--svg-invert)) sepia(var(--svg-sepia)) saturate(var(--svg-saturate)) hue-rotate(var(--svg-hue-rotate)) brightness(var(--svg-brightness)) contrast(var(--svg-contrast));
}

.footer-image:hover {
  filter: invert(var(--svg-hover-invert)) sepia(var(--svg-hover-sepia)) saturate(var(--svg-hover-saturate)) hue-rotate(var(--svg-hover-hue-rotate)) brightness(var(--svg-hover-brightness)) contrast(var(--svg-hover-contrast));
}

/* @media(min-width: 667px) {
  .sidebar {

  }
  
  nav {

  }
} */

/* 3.0 Page-Specific Styles */

/* 3.1 Homepage */

#projects-preview article {
  background-color: var(--highlight-background-color);
  border-radius: 1rem;
  margin: 1em 0;
  padding: 1em;
}

.project-image {
  margin: 1em 0;
  border-radius: 1rem;
}

.techlogo {
  display: inline-block;
  height: 5em;
}

/* 3.2 About Page */

.techlogo-holder {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
}

.techlogo-holder img {
  background-color: #fff;
  padding: 0.2em;
  border-radius: 0.75em;
}