---
title: Page Not Found
permalink: 404.html
---

<section class="post" aria-labelledby="notfound-page-label">
	<h1 id="notfound-page-label">Page Not Found</h1>
	<p>Looks like this page doesn't exist, or maybe it moved. Probably not, given there's {% pageCount collections.all %} pages on this site.</p>
	<p>Did you know the <span class="small-screens">menu above</span><span class="large-screens">sidebar</span> doubles as a sitemap? There's not a lot going on around here, so it's impressive you ended up here.</p>
</section>
