---
title: About
layout: base.njk
eleventyNavigation:
  key: About
  order: 2
---

<!-- 
<h4>On This Page</h4>
<ul>
	<li><a href="#introduction">Introduction</a></li>
	<li><a href="#languages">Languages</a></li>
	<li><a href="#tools">Tools</a></li>
</ul>
-->

<section class="post" aria-labelledby="about-page-label" id="introduction">
	<h1 id="about-page-label">Who is Pretz?</h1>
	<p><strong>Hiya, I'm Pretz!</strong></p>
	<p>I'm a software developer in the Midwestern United States experienced with everything from Android applications to web development (catch that "A to Z" pun?). Whether it be a simple hand-coded website like this one or a robust and secure application running on multiple devices and platforms, I've worked on it all.</p>
	<p>My passion for software started with problem-solving: fixing issues and automating tedious tasks. Even after getting a degree in software development, my development style remains focused on how my contributions and projects can directly affect users. I'm always focused on ensuring what I'm working on serves its users best, even if that means I am not working on the most exciting features of a product.</p>
	<p>I am currently working as a systems and web engineer for a medium-sized (80 FT employees) non-profit, but I am keeping eyes open for a position either fully-remote or in the Minnesota Twin Cities area.</p>
</section>

<section class="post" aria-labelledby="languages-label" id="languages">
	<h2 id="languages-label">Languages I've Recently Used</h2>
	<div class="about-image-grid">
		<a class="tooltip" tooltip-text="C# (C-Sharp), a programming language I've primarily used with the .NET Framework and Unity game engine." href="https://docs.microsoft.com/en-us/dotnet/csharp/" rel="external" target="_blank">
			<img src="img/techlogos/csharp.svg" alt="C-Sharp Logo">
		</a>
		<a class="tooltip" tooltip-text="CSS (Cascading Style Sheets) is the language used to style websites." href="https://developer.mozilla.org/en-US/docs/Web/CSS" rel="external" target="_blank">
			<img src="img/techlogos/css.svg" alt="CSS 3 Logo">
		</a>
		<a class="tooltip" tooltip-text="HTML (HyperText Markup Language) is the foundation of most web content." href="https://developer.mozilla.org/en-US/docs/Web/HTML" rel="external" target="_blank">
			<img src="img/techlogos/html.svg" alt="HTML 5 Logo">
		</a>
		<a class="tooltip" tooltip-text="I've used JavaScript primarily when working on web content, in both websites and tools like Electron." href="https://developer.mozilla.org/en-US/docs/Web/Javascript" rel="external" target="_blank">
			<img src="img/techlogos/javascript.svg" alt="JavaScript Logo">
		</a>
		<a class="tooltip" tooltip-text="Like most CS students, I learned Java in University. I then used Java when making Android apps since I was more familiar with it than with Kotlin. " href="https://www.java.com/en/" rel="external" target="_blank">
			<img src="img/techlogos/java.svg" alt="Java Logo">
		</a>
		<a class="tooltip" tooltip-text="Lua is my favorite language I've used thus far. I have used Lua in several of my personal (non-work) projects." href="https://www.lua.org/" rel="external" target="_blank">
			<img src="img/techlogos/lua.svg" alt="Lua Logo">
		</a>
		<a class="tooltip" tooltip-text="I have used Visual Basic when working in .NET. I generally prefer to use C#, but I am able to program in Visual Basic." href="https://docs.microsoft.com/en-us/dotnet/visual-basic/" rel="external" target="_blank">
			<img src="img/techlogos/visualbasic.svg" alt="Visual Basic Logo">
		</a>
	</div>
</section>

<section class="post" aria-labelledby="tools-label" id="tools">
	<h2 id="tools-label">Tools I've Recently Used</h2>
	<div class="about-image-grid">
		<a class="tooltip" tooltip-text=".NET, a framework for making applications" href="https://dotnet.microsoft.com/" rel="external" target="_blank">
			<img src="img/techlogos/dotnet.svg" alt="Dot Net Logo">
		</a>
		<a class="tooltip" tooltip-text="Android Studio, an IDE with built-in tools to make Android applications." href="https://developer.android.com/studio" rel="external" target="_blank">
			<img src="img/techlogos/androidstudio.svg" alt="Android Studio Logo">
		</a>
		<a class="tooltip" tooltip-text="Bootstrap, a toolkit for building the front-end of websites." href="https://getbootstrap.com/" rel="external" target="_blank">
			<img src="img/techlogos/bootstrap.svg" alt="Bootstrap Logo">
		</a>
		<a class="tooltip" tooltip-text="Cloudflare has many useful tools, such as Pages and Workers. Pages hosts and deploys websites, workers is for serverless code." href="https://www.cloudflare.com/" rel="external" target="_blank">
			<img src="img/techlogos/cloudflare.svg" alt="Cloudflare Logo">
		</a>
		<a class="tooltip" tooltip-text="DNN (formerly DotNetNuke), a content management system." href="https://www.dnnsoftware.com/" rel="external" target="_blank">
			<img src="img/techlogos/dnn.svg" alt="DNN Logo">
		</a>
		<a class="tooltip" tooltip-text="The Elder Scrolls Online AddOn API, used for making AddOns for the Elder Scrolls Online, an MMO." href="https://wiki.esoui.com/Main_Page" rel="external" target="_blank">
			<img src="img/techlogos/eso.png" alt="Elder Scrolls Online Logo">
		</a>
		<a class="tooltip" tooltip-text="Electron, a way to build cross-platform desktop applications made like a website." href="https://www.electronjs.org/" rel="external" target="_blank">
			<img src="img/techlogos/electron.svg" alt="Electron Logo">
		</a>
		<a class="tooltip" tooltip-text="Git, a version control system." href="https://git-scm.com/" rel="external" target="_blank">
			<img src="img/techlogos/git.svg" alt="Git Logo">
		</a>
		<a class="tooltip" tooltip-text="GitHub, a place to work with code storage. It has many built in features that make it a great place to host code." href="https://github.com/" rel="external" target="_blank">
			<img src="img/techlogos/github-circle.svg" alt="GitHub Logo">
		</a>
		<a class="tooltip" tooltip-text="Google Analytics, a way to look into who is using your website and how they are using it." href="https://marketingplatform.google.com/about/analytics/" rel="external" target="_blank">
			<img src="img/techlogos/googleanalytics.svg" alt="Google Analytics Logo">
		</a>
		<a class="tooltip" tooltip-text="Google Cloud, a cloud computing service." href="https://cloud.google.com/" rel="external" target="_blank">
			<img src="img/techlogos/googlecloud.svg" alt="Google Cloud Logo">
		</a>
		<a class="tooltip" tooltip-text="Google Search Console, a tool to measure a site's search traffic, search performance, and detect indexing issues." href="https://search.google.com/search-console/about" rel="external" target="_blank">
			<img src="img/techlogos/google-search-console.svg" alt="Google Search Console Logo">
		</a>
		<a class="tooltip" tooltip-text="jQuery, a JavaScript library." href="https://jquery.com/" rel="external" target="_blank">
			<img src="img/techlogos/jquery.svg" alt="JQuery Logo">
		</a>
		<a class="tooltip" tooltip-text="SQL Server, a relational database management system developed by Microsoft." href="https://www.microsoft.com/en-us/sql-server/" rel="external" target="_blank">
			<img src="img/techlogos/sqlserver.svg" alt="Microsoft SQL Server Logo">
		</a>
		<a class="tooltip" tooltip-text="MySQL, a relational database management system developed by Oracle." href="https://www.mysql.com/" rel="external" target="_blank">
			<img src="img/techlogos/mysql.svg" alt="MySQL Logo">
		</a>
		<a class="tooltip" tooltip-text="SQLite, a small, self-contained relational database management system." href="https://www.sqlite.org/index.html" rel="external" target="_blank">
			<img src="img/techlogos/sqlite.svg" alt="SQLite Logo">
		</a>
		<a class="tooltip" tooltip-text="Unity, a family of content creation tools. I primarily use it for making games." href="https://unity.com/" rel="external" target="_blank">
			<img src="img/techlogos/unity.svg" alt="Unity Logo">
		</a>
		<a class="tooltip" tooltip-text="Visual Studio, an IDE with built-in tools for making .NET Applications" href="https://visualstudio.microsoft.com/" rel="external" target="_blank">
			<img src="img/techlogos/visualstudio.svg" alt="Visual Studio Logo">
		</a>
		<a class="tooltip" tooltip-text="Visual Studio Code, a source-code editor. If not working with .NET or Android, this is typically what I'm working in." href="https://code.visualstudio.com/" rel="external" target="_blank">
			<img src="img/techlogos/vscode.svg" alt="Visual Studio Code Logo">
		</a>
		<a class="tooltip" tooltip-text="WordPress, a content management system." href="https://wordpress.com/" rel="external" target="_blank">
			<img src="img/techlogos/wordpress.svg" alt="WordPress Logo">
		</a>
	</div>
</section>
